<div class="tabbable tabs-left">

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#my_apps" data-toggle="tab">Apps I Built</a>
    </li>
    <li>
      <a href="#apps_to_test" data-toggle="tab">Apps I'm Testing</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="my_apps">
      <h3>My Apps</h3>
      <%= render partial: "projects/list",
                  locals: {projects: @projects}%>
    </div>

    <div class="tab-pane" id="apps_to_test">
      <h3>Apps I'm Testing</h3>
      <%= render partial: "projects/list", locals: {projects: @test_projects}%>
    </div>
  </div>
</div>
