  <div class="row">
    <h1 id="hero-title">BetaMiners</h1>
    <div id="carousel">
      <ul>
        <% for screen in @screens %>
          <li>
            <%= link_to image_tag(screen.image.url(:large)),
                project_path(screen.project) %>
          </li>
        <% end %>
      </ul>

      <div id="carousel-nav">
          <button class="prev">‹</button>
          <button class="next">›</button>
      </div>
    </div>
  </div>

  <div class="marketing">
    <div class="row">

      <div class="span4">
        <%= image_tag "chrome.png", size: "140x140" %>
        <h2>For Developers.</h2>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <p><a class="btn" href="#">Learn More</a></p>
      </div>

      <div class="span4">
        <%= image_tag "firefox.png", size: "140x140", class: "img-circle" %>
        <h2>For Testers.</h2>

        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

        <p><a class="btn" href="#">Learn More</a></p>
      </div>

      <div class="span4">
        <%= image_tag "safari.png", size: "140x140" %>
        <h2>For the Interwebz.</h2>

        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

        <p><a class="btn" href="#">Learn More</a></p>
      </div>
    </div>
  </div>


<script>
  var Carousel = (function() {

    var delay = 5000;
    var $carousel = $("#carousel");
    var $itemsHolder = $carousel.find("> ul");
    var $items = $itemsHolder.find("> li");
    var itemWidth = $items.first().width();
    var currentItem = -1;
    var timerId;

    var $nextButton = $("#carousel-nav > .next");
    var $previousButton = $("#carousel-nav > .prev");

    var init = function() {
      $itemsHolder.css({"width": ($items.length * itemWidth) + "px"});
      bind();
      start();
    };

    var bind = function () {
      $nextButton.on("click", loop);
      $previousButton.on("click", previous)
    };

    var start = function() {
      loop();
      timerId = window.setInterval(loop, delay);
    };

    var stop = function() {
      if(timerId) {
        window.clearInterval(timerId);
      }
    };

    var loop = function() {
      currentItem++;

      if (currentItem == $items.length) {
        currentItem = 0;
      }

      move();
    };

    var previous = function() {
      currentItem--;

      if (currentItem <= 0) {
        currentItem = $items.length - 1;
      }

      move();
    };

    var move = function() {
      var leftPosition = currentItem * itemWidth * -1;
      $itemsHolder.stop().animate({"left": leftPosition + "px"}, 1000);
    };

    return {
      init: init,
      loop: loop,
      start: start,
      stop: stop
    };
  })();

  $(document).ready(function() {
    Carousel.init();
  });
</script>