<div class="container">
  <div class="row">
    <h1>Beta Miners</h1>
    <div id="carousel">
      <ul>
        <% for screen in @screens %>
          <li>
            <%= link_to image_tag(screen.image.url(:large)),
                project_path(screen.project) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script>

var Carousel = (function() {

  var delay = 5000;
  var $carousel = $("#carousel");
  var itemsHolder = $carousel.find("> ul");
  var items = itemsHolder.find("> li");
  var itemWidth = items.first().width();
  var currentItem = -1;
  var timerId;

  var init = function() {
    itemsHolder.css({"width": (items.length * itemWidth) + "px"});
    console.log(itemsHolder.length);
    console.log(itemWidth);
    start();
  };

  var start = function() {
    loop();
    console.log("start");
    timerId = window.setInterval(loop, delay);
  };

  var stop = function() {
    if(timerId) {
      console.log("stop");
      window.clearInterval(timerId);
    }
  };

  var loop = function() {
    currentItem++;
    console.log("loop");

    if (currentItem == items.length) {
      currentItem = 0;
    }

    move();
  };

  var move = function() {
    console.log(currentItem);

    var leftPosition = currentItem * itemWidth * -1;
    itemsHolder.stop().animate({"left": leftPosition + "px"}, 1000);
  }

  return {
    init: init,
    loop: loop,
    start: start,
    stop: stop
  };
})();

$(document).ready(function() {
  Carousel.init();
});

</script>