<ul class="nav nav-list">
  <hr>
  <% projects.each do |project| %>

  <li>
    <div class="row-fluid clearfix">
      <div class="span1">
        <%= link_to image_tag(project.logo.url(:thumb), alt: project.name),
          project_control_panel_path(project) %>
      </div>

      <div class="span2">
        <h4><%= link_to project.name, project_control_panel_path(project) %></h4>
        <em><%= project.category %></em>
      </div>

      <div class="span6 offset3">
        <%= project.short_desc %>
      </div>

    </div>
  </li>
  <hr>
  <% end %>
</ul>