<div class="container-fluid">
  <div class="row-fluid">
    <header class="nav">
      <h1><%= @project.name %></h1>
      <em>Development Phase: <%= @test.name %></em>
    </header>

    <div class="span8">
      <div class="carousel">
        <%= @project.screenshots.empty? ? image_tag("missing.png") : image_tag( @project.screenshots[1].image.url(:large)) %>
      </div>
      <article>
        <%= @project.description %>
      </article>
    </div>

    <div class="span3 offset1">

    </div>
  </div>
</div>