<h3 class="left-header">
  <%= "#{@survey.project.name} #{@survey.test_phase.name} Feedback" %>
</h3>

<ol>
  <% @survey.questions.each do |question| %>
  <li><%= question.text %></li>
  <ul>
    <% question.responses.each do |response| %>
      <li><%= response.text %></li>
    <% end %>
  </ul>
  <% end %>
</ol>

<div class="fields">
  <%= link_to "Back", project_test_phase_path(project, @survey.test_phase),
      remote: true, id: "test-view" %>
</div>


<script>

$(document).ready(function() {

  $("#test-view").on("ajax:success", function(event, data) {
    $("section.row > div > div.active").html(data);
  });
});

</script>