
#carousel {
  position: relative;
  height: 405px;
  width: 720px;
  margin: 100px auto 40px auto;
  overflow: hidden;
}

#carousel > ul {
  margin: 0;
  left: 0px;
  top: 0;
  list-style: none;
  position: absolute;
}

#carousel > ul:after {
  content: "";
  display: table;
  clear: both;
}

#carousel > ul > li {
  float: left;
  height: 405px;
  width: 720px;
  overflow: hidden;
}

#carousel > ul > li > img {
  width: 100%;
  height: auto;
  display: block;
}