#hero-title {
  font-size: 80px;
  font-family: 'Black Ops One', Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
  margin: 20px 0 10px 0;
  text-shadow: 2px 2px 0 darkgrey;
}

#carousel {
  position: relative;
  height: 405px;
  width: 720px;
  margin: 60px auto 60px auto;
  overflow: hidden;
  border: 1px solid darkgrey;
}

#carousel > ul {
  margin: 0;
  left: 0px;
  top: 0;
  list-style: none;
  position: absolute;
}

#carousel > ul:after {
  content: "";
  display: table;
  clear: both;
}

#carousel > ul > li {
  float: left;
  height: 405px;
  width: 720px;
  line-height: 405px;
  text-align: center;
  overflow: hidden;
  background-color: darkslategrey;
}

#carousel > ul > li > a > img {
  height: 100%;
  display: block;
  margin: auto;
}

#carousel > ul > li > a {
  height: 100%;
  display: block;
  margin: auto;
  vertical-align: middle;
}

#carousel-nav {
  height: 405px;
  width: 720px;
}

#carousel-nav > button {
  vertical-align: baseline;
  position: relative;
  top: 40%;
  border: none;
  background-color: inherit;
  font-size: 100px;
  font-weight: 100;
  line-height: 60px;
  color: white;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#carousel-nav > button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#carousel-nav > .prev {
  float: left;
  margin: 0 0 0 20px;
}

#carousel-nav > .next {
  float: right;
  margin: 0 20px 0 0;
}

.marketing {
  text-align: center;
}

#carousel.small {
  height: 350px;
  width: 620px;
  margin: 20px auto 20px auto;
}

#carousel.small > ul > li {
  height: 350px;
  width: 620px;
  line-height: 350px;
}

#carousel-nav.small{
  height: 350px;
  width: 620px;
}


#carousel-nav.small > .prev {
  margin: 0 0 0 10px;
}

#carousel-nav.small > .next {
  margin: 0 10px 0 0;
}
