body {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  background: gray image-url("ore.png");
  background-size: 20%;
}

hr {
  border-bottom-color: darkslategrey;
  border-style: solid;
  border-bottom-width: 1px;
  border-top-color: white;
  border-top-width: 1px;
  color: #ecf0f1;
  margin: 20px 0px;
}

ol {
  margin: 20px 60px;
}

ol > li {
  padding: 10px 0;
}

form {
  padding: 20px;
}

span {
  padding: 0 10px;
}

.centered {
  text-align: center;
}

.container {
  background-color: oldlace;
  padding: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid darkslategrey;
}

.left-header {
  padding: 0 0 0 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.alert, .notice {
  background-color: khaki;
  text-align: center;
  font-family: 'Black Ops One', Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 20px;
  color: darkslategrey;
  margin: 0 0 20px 0;
}

.fields {
  padding: 20px;
}


.navbar {
  font-family: 'Black Ops One', Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 24px;
}

.navbar-inner {
  background-image: linear-gradient(to bottom, darkgrey, darkslategrey);
  border-color: #333;
}

.navbar .brand {
  text-shadow: 0 2px 0 #777;
  font-size: 36px;
  font-weight: bold;
  color:#333;
  padding: 10px 40px;
}

.navbar .brand:hover {
  text-shadow: 0 1px 0 oldlace;
}

.navbar .nav > li {
  padding: 0 20px;
}

.navbar .nav > li > a {
  text-shadow: 0 2px 0 #777;
  color:#333;
}

.navbar .nav > li > a:hover {
  text-shadow: 0 1px 0 oldlace;
}