.profile-info {
  float: left;
  width: 400px;
}


.profile-pic {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  margin: 0 100px;
  border: 5px double darkslategrey;
}

.profile-pic > img {
  margin: auto;
  vertical-align: middle;
}

.label-field {
  text-align: right;
  padding: 0 10px 0 0;
}


