.profile-info {
  float: left;
  width: 400px;
}


.profile-pic {
  float: right;
  margin-right: 100px;
  border: 5px double darkslategrey;
}

.label-field {
  text-align: right;
  padding: 0 10px 0 0;
}


