.comment-toggle:hover {
  cursor: pointer;
}

.comments {
  display: none;
  border: 1px solid darkgrey;
  margin: 20px 10px;
}

.comments .hide {
  content: "Hide Comments";
}

.comment-body {
  padding: 20px;
}

.comment-footer {
  text-align: right;
  background-color: darkslategrey;
  color: white;
  padding: 5px;
}

